*{
  font-family: 'Inconsolata', monospace;
}


.search{
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .homeinput{
    width: 70%;
  }
  
  .spinner{
    margin-bottom: 15px;
  }

  .dropdown-item{
    cursor: pointer;
  }

  .btn-group{
    margin-top: 20px;
  }

  @media (max-width: 767px) {
    .flexBox {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  